

/* ------------- BASE STYLES -------------- */

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 300vh;
}

main {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 600;
}

h2,
h3 {
    text-align: left;
    color: #fff;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 24px;
    margin: 18px 0;
}

hr {
    
}

button,
select,
option,
li,
p {
    font-family: 'Montserrat', "Open Sans", Helvetica, Arial, sans-serif;
}


img {
    width: 100%;
}

ul {
    margin: 0;
}

button {
    background-color: #376648;
    color: white;
    border-radius: 80px;
    border: none;
}

button:hover {
    cursor: pointer;
}




body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ------------- HEADER-------------- */

header {
    background-color: #B9D2B2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 90%;
    background-color: rgba(255, 255, 255, .74);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 0 68.75px 0;
}

.tagline {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nav-button {
    background-color: #F47274;
    padding: 12.5px 55px;
    border-radius: 80px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

nav a {
    margin-bottom: 1em;
}




/* ------------- MAIN -------------- */

main {
    width: 100%;
}

#food, #drink {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.section-container {
    width: 90%;
    height: 100%;
}

.list-pick-container {
    width: 100%;
    border-top: 5px #fff solid;
    padding: 16px 0;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-list-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: .5em;
}

select {
    width: 100%;
    font-size: 20px;
}



.food-list, .drink-list {
    padding: 0;
    padding-bottom: 16px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

.recipe-list-item {
    display: inline-block;
    margin: .5em .25em;
    padding: 10px 14px;
    font-size: 16px;
}

#food-pick, #drink-pick {
    padding: 0 .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px #fff solid;
    opacity: 0;
    width: 100%;
}
    

#food-pick.visible,
#drink-pick.visible {
    animation: fadeIn 1s linear both .5s;
}



.image-ingredient-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
}

.image-ingredient-wrapper > * {
    box-sizing: border-box;
}

.recipe-image {
    border-radius: 20px;
}

.recipe-ingredients {
    list-style: none;
    padding: 25px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 18px;
}

.recipe-ingredients li {
    text-transform: uppercase;
    margin-bottom: 1em;
}

.recipe-ingredients li:last-child {
    margin-bottom: 0;
}

.recipe-instructions {
    background-color: #fff;
    border-radius: 20px;
    padding: 24px 36px;
    line-height: 1.5em;
    margin-top: 1em;
    box-sizing: border-box;
}

#food,
#food-pick {
    background-color: #6EDFE7;
}

#food-pick a {
    align-self: center;
}

.recipe-video {
    padding: 10px 14px;
    font-size: 16px;

}

#drink,
#drink-pick {
    background-color: #F3BACD;
}




/* ------------------- ANIMATIONS ------------------- */


#food {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
    
#food.visible {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s;
}

#drink {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
    
#drink.visible {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.recipe-list-item {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes grow {
    0% {transform: scale(.8);}
    100% {transform: scale(1);}
}







/* -------------- ****** MEDIA QUERIES ****** -------------- */

@media only screen 
and (min-device-width: 768px) {

    select {
        width: 50%;
    }

    .image-ingredient-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .recipe-image,
    .recipe-ingredients {
        flex: 1;
        max-width: 48%;
    }

    .recipe-instructions {
        width: 100%;
    }
}

@media only screen 
and (min-device-width: 1024px) {

    h1 {
        font-size: 80px;
    }

    h2 {
        align-self: flex-start;
    }

    .header-container {
        width: 529px;
        padding: 41px 0 68.75px 0; 
    }

    .nav-button {
        font-size: 30px;
    }

    .list-pick-container {
        flex-flow: row nowrap;
        align-items: stretch;
    }
    .list-pick-container > * {
        flex: 1;
    }

    .form-list-container {
        border-right: 5px #fff solid;
        min-height: 85vh;
    }
    
    select {
        width: 94%;
    }

    #food-pick, #drink-pick {
        border-top: none;
        padding: 0 .75em;
    }

    .recipe-title {
        margin-top: 0;
    }

    
    .recipe-ingredients {
        font-size: 12px;
        margin-top: 0;
    }

    .recipe-instructions {
        font-size: 14px;
    }

}


